{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card">
    <div class="card-header">
        <div>
            <div class="card-title">Delete College</div>
            <div class="card-category">Page Subtitle</div>
        </div>
    </div>
    <div class="card-body">
        <form class="" action="" method="post" novalidate>
            <p>Are you sure you want to delete "{{ object }}"?</p>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-rounded">Submit</button>
        </form>
    </div>
</div>
{% endblock %}
